/* admin-dashboard.css */

.admin-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9; /* Light gray background */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Subtle box shadow */
}

.admin-heading {
    font-size: 2em;
    color: #007f00; /* Dark green color for headings */
    margin-bottom: 20px; /* Add some spacing below the heading */
}

.admin-button {
    background-color: #007f00; /* Dark green color for buttons */
    color: #fff;
    border: none;
    margin: 0.5rem;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.admin-button:hover {
    background-color: #005700; /* Darker shade of green on hover */
}

.admin-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px; /* Add some spacing above the table */
}

.admin-table tbody{
    color: black;
}

.admin-table th,
.admin-table td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
}

.admin-table th {
    background-color: #007f00; /* Dark green color for table headers */
    color: #fff;
}

.admin-table tr:nth-child(even) {
    background-color: #f0f0f0; /* Light gray background for even rows */
}

.admin-table tr:hover {
    background-color: #e0e0e0; /* Darker shade of gray on hover */
}

.admin-message {
    margin-top: 20px;
    color: #ff0000; /* Red color for error messages */
}
