.payment-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: black;
  }
  
  .payment-heading {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .payment-details {
    margin-bottom: 20px;
  }
  
  .payment-label {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-right: 15rem;
    font-weight: bold;
  }
  
  .payment-input {
    padding: 10px;

    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .payment-total {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .payment-button {
    display: block;
    width: 100%;
    padding: 15px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
  }
  
  .payment-button:hover {
    background-color: #45a049;
  }
  
  .payment-button:active {
    background-color: #3e8e41;
  }
  